.App {
  text-align: left;
  padding: 20px;
}

.questions-wrapper {
  display: flex;
}

.question {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 10px 0;
}

small {
  margin-bottom: 10px;
}

.choice-wrapper {
  display: flex;
  justify-content: space-between;
}

.choice-wrapper span {
  display: inline-block;
  width: 20%;
}