body {
  color: #333;
}

.App {
  text-align: left;
  padding: 40px 0;
  width: 80%;
  margin: auto;
}

.questions-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.question {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  border: 1px solid #888;
  width: 270px;
  margin: 10px 20px 10px 0;
  font-size: 14px;
  transition: all .3s;
}

.question:hover {
  background-color: #efefef;
  border-color: #ddd;
}

.question span {
  margin-top: 8px;
}

h2 {
  color: #999;
  font-weight: 400;
  margin: 0 0 50px 0;
}

h3 {
  margin: 0 0 5px 0;
  font-weight: 700;
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

small {
  margin-bottom: 10px;
}

ul {
  padding: 0;
}

.choice-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 7px 30px 7px 0;
  font-weight: 500;
  font-size: 14px;
  transition: background-color .3s;
  cursor: pointer;
}

.choice-wrapper:hover {
  background-color: #eee;
}

.choice-wrapper span {
  display: inline-block;
  width: 20%;
  padding: 5px;
  cursor: pointer;
}

.choice-wrapper span:first-child {
  font-weight: 600;
  width: 30%;
}

.progress-root{
  height: 5px;
  background-color: #e2e2e2;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 10px;
  width: 20%;
}
.progress-bar {
  border-radius: 50px;
  background-color: #e80808;
  transition: transform .4s linear;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  position: absolute;
  transform-origin: left;
}

@media only screen and (max-width: 568px) {
  .question {
    width: 100%;
  }
  .choice-wrapper {
    padding: 7px 5px;
    font-size: 11px;
  }
}